body {
    background-color: rgb(27, 27, 27);
    color: white;
}

h1 {
    text-align: center;
    color: blueviolet;
    margin: 30px 0;
}



#humanChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 80px;




    button {
        background: linear-gradient(#e52a1d, #3d82f3);
        border-radius: 5px;
        padding: 3px 10px;


    }
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerChoice,
.points,
h3 {
    font-weight: 900;
    text-align: center;
    font-size: x-large;

    background: linear-gradient(270deg, #bd1d17, #ee0979, #6a11cb);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s ease infinite;

}

#playAgain{
    display: flex;
    justify-content: center;
    align-items: center;
   
    #jogar-novamente{
        background: linear-gradient(#ec4438, #3a86ff);
        border-radius: 5px;
        padding: 3px 10px;
        margin: 30px;
    }
    

}